@import url('https://fonts.googleapis.com/css2?family=Jost:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
p{
  font-family: 'Jost', sans-serif;
  font-size:28px;
}
body,html{
  overflow-x:hidden!important;
}
.header
{
        background-image: url("bg.jpg");
        background-repeat: no-repeat!important;
        left: 0;
        margin:0;
        min-width:  674px;
        padding:0;
        top:0;
        z-index:-1;
        overflow-x: hidden;
        height:100vh!important;
        background-size:cover;
        animation: grow 150s infinite;
    }
    .navbar {
      transition: all 0.7s;
      
  }
  
  .navbar .nav-link {
      color: #fff;
      outline: none;
      box-shadow: none;
  }
  
  .navbar .nav-link:hover,
  .navbar .nav-link:focus {
      color: aquamarine;
      text-decoration: none;
  }
  
  .navbar .navbar-brand {
      color: #fff;
  }
  
  .navbar-toggler:focus{
    outline: none;
    box-shadow: none;
  }
  
  /* Change navbar styling on scroll */
  .navbar.active {
      background:white;
     box-shadow: 1px 2px 10px rgba(0, 0, 0, 0.1);
  }
  
  .navbar.active .nav-link {
      color:black;
      opacity:100% !important;
      outline: none;
      box-shadow: none;
  
  }
  
  .navbar.active .nav-link:hover,
  .navbar.active .nav-link:focus {
      color:aquamarine;
      text-decoration: none;
  }
  
  .navbar.active .navbar-brand {
      color:black;
  }
  
  
  
  @media (max-width: 990px) {
   .navbar-brand{
     padding-right: 50px;
   } 
  .logo{
    padding-top: 80px;
  }
  }
  
  /* Change navbar styling on small viewports */
  @media (max-width: 768px) {
  
  .logo{
    padding-top: 90px;
  }
  
  
  
    .navbar-toggler{
      color: white;
    }
   .navbar.active .navbar-toggler{
     color: black;
    
   }
   .navbar-collapse{
     background-color:white;
     opacity: 0.8;
     
   }
  
   .navbar.active .navbar-collapse{
    background-color: white;
  
   }
      
    .navbar .navbar-brand{
        color:white;
    }
    .navbar .nav-link {
      color:black;
      outline: none;
      box-shadow: none;
      text-align: center;
    }
  
    .navbar.active .nav-link {
      color:black;
      opacity:100% !important;
      outline: none;
      box-shadow: none;
  
  }
  
  
  .navbar.active .nav-link:hover,
  .navbar.active .nav-link:focus {
      color:aquamarine;
      text-decoration: none;
  }
  
  .navbar .nav-link:hover,
  .navbar .nav-link:focus {
      color:aquamarine;
      text-decoration: none;
  }
    #loader{
      padding-top:200px;
      padding-left:110px;
    }
  }
  
  
  
  @import 'https://fonts.googleapis.com/css?family=Ubuntu:300, 400, 500, 700';
  
  *, *:after, *:before {
    margin: 0;
    padding: 0;
  }
  
  .svg-container {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    z-index: -1;
  }
    
    #about{
      position: relative;
      width: 100vh;
      width:100vw;
      padding-top: 10%;
      
    }
    h6{
        border-right: solid 3px rgba(0,255,0,.75);
        white-space: nowrap;
        overflow: hidden;    
        font-family: 'Lato', sans-serif;
        font-size: 48px;
        color: rgba(255,255,255,.70);
        margin: 0 auto;
        
      }
      h3{
        font-family: 'Lato', sans-serif;
        font-size: 40px!important;
      
      }
      .writing{
          padding-top: 150px;
          padding-left: 650px;
          color:white;
          opacity:80%;
      }
      /* Animation */
h6 {
  animation: animated-text 9s steps(25,end) 2s infinite,
             animated-cursor 600ms steps(25,end) infinite;
}

/* text animation */

@keyframes animated-text{
  0%{width: 0;}
  50%{width: 590px;}
  100%{width: 590px;}
}

/* cursor animations */

@keyframes animated-cursor{
  from{border-right-color:white;}
      to{border-right-color: transparent;}
}
.meta{

  padding-left: 5px;
  width: 83%;
  height: 195px;
  margin-left:150px!important ;
  padding-top: 180px!important;
  
}

h5 {
  width: 200%;
  height: 50%;
  font-size: 25px;
  padding-top:5%;
  padding-left:35%!important;
  color: white;
  opacity: 80%;
}
hr{
  margin-left:46.5% !important;
  text-align: center;
  width:90px !important;
  height:1px;
  color: aquamarine;
}

h5::after{
  content: "";
  width: 200%;
  height: 100%;
  line-height: 45px;
  left: 10%;
  top: 50%;
  animation: abomination1 7.5s linear infinite;
  animation-fill-mode: forwards;
}
#ai{
  width: 100%;
  height: 500px!important;
  padding-bottom: 50px;
  padding-left: 90px!important;

}
#ap{
  padding-top:80px!important;
  padding-right: 90px;
  text-align: start;
}
#things{
  padding-top:10%!important;
  padding-bottom: 15%;
  padding-left:10%;
  padding-right:10%;
}

#fa1{
  font-size:70px!important;
  color:aquamarine;
  padding-left: 45%;
  padding-top: 40%;
  
}
#icon{
  padding-left:30%;
  padding-top:5%;
  padding-bottom: 5%;
}
#fa2{
  font-size:48px;
  padding-right:5%;
  color: aquamarine;

}
#fa2:hover{
  color:rgb(109, 167, 243);
}
h4{
  text-align: center;
}

#c2{
  padding-top: 10px!important;
}

form{
  padding-left:15%;
  padding-top:7%!important;
}
#mess{
  width:1000px!important;
  height:150px!important;
  margin-top: 0px!important;
}

#at{
  padding-bottom:10%;
}
#btn{
  padding-top: 5%;
}
#send:hover{
 background-color: rgb(109, 167, 243)!important;
}
#fn{
  width:500px ;height:40px;
}
#em{
width:490px ;height:40px;
}
#join{
  padding-top: 2%;
}
#footer{
  background-color: #08AEEA;
background-image: linear-gradient(0deg, #08AEEA 0%, #2AF598 100%);
padding-top:5%;
padding-bottom:5%;

}
#sec,#sec1{
    padding-left:40%;
    color:white;
}
  @keyframes abomination1 {
  0% {
    content: "A";
  }
  4% {
    content: "A V";
  }
  8% {
    content: "A Vib";
  }
  10% {
    content: "A Vibra";
  }
  14% {
    content: "A Vibrant";
  }
  18% {
    content: "A Vibrant Co";
  }
  22% {
    content: "A Vibrant Commu";
  }
  28% {
    content: "A Vibrant Communi";
  }
  32% {
    content: "A Vibrant Community";
  }
  40% {
    content: "A Vibrant Community of";
  }
  55% {
    content: "A Vibrant Community of STUDENTS";
  }
  78% {
    content: "A Vibrant Community of DEVELOPERS";
  }
  100%
  {
    content:"A Vibrant Community of PROFFESSIONALS"; ;
  }

}
 
@media(max-width:768px)
{
  .header{
      background-size:cover;
      animation: grow 80s infinite;
      overflow-x: hidden!important;
  }
  h3{
    font-family: 'Lato', sans-serif;
    font-size: 30px!important;
  }
  #about{
    padding-top: 20%;
    position: relative;
    padding-bottom: 20%;
    width: 100%;
    overflow-x: hidden!important;
  }
  #things{
    padding-top:30%!important;
  }
  h6{
      font-size: 25px;
    margin-left:50px!important;
  }
  h5{
    padding-left:25px!important;
    font-size:17px;
  }
  @keyframes animated-text{
    0%{width: 0;}
    50%{width: 320px;}
    100%{width: 320px;}
  }
  .writing{
      padding-left:10%;
      color:white;
      opacity: 70%;
      padding-top:40% ;
      padding-left:20%;
  }
  #ai{
    width:400px;
    height:400px;
    padding-left: 0px!important;
    padding-bottom: 0px!important;
  }
#ap{
  text-align: left;
  padding-left: 40px!important;
  padding-top: 2px!important;
}
#mess{
  width:300px!important;
  height:150px!important;
}
#fn{
  width:300px ;height:40px;
}
#em{
  width:300px ;height:40px;
}
#footer{
  padding-top: 10%;
}
#fa2{
  font-size:28px;
  padding-left:1%;
  padding-top: 20%;
  padding-bottom: 10%;
}
#fa1{
  padding-top:10%;
}
#sec,#sec1{
  padding-left: 25%;
  font-size:10px;
  color:white;
}
#d1{
  padding-top: 2%;
}
#icon{
  padding-left:10%;
}
#btn{
  padding-top:15%;
  padding-bottom:10%;
}
hr{
  margin-left:39.5% !important;
}
}